<component name="libraryTable">
  <library name="springframework.data.spring.jdbc" type="repository">
    <properties maven-id="org.springframework.data:spring-data-jdbc:2.3.4" />
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/data/spring-data-jdbc/2.3.4/spring-data-jdbc-2.3.4.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/data/spring-data-relational/2.3.4/spring-data-relational-2.3.4.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/data/spring-data-commons/2.6.4/spring-data-commons-2.6.4.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-tx/5.3.19/spring-tx-5.3.19.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-context/5.3.19/spring-context-5.3.19.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-aop/5.3.19/spring-aop-5.3.19.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-expression/5.3.19/spring-expression-5.3.19.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-beans/5.3.19/spring-beans-5.3.19.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-jdbc/5.3.19/spring-jdbc-5.3.19.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-core/5.3.19/spring-core-5.3.19.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-jcl/5.3.19/spring-jcl-5.3.19.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/slf4j/slf4j-api/1.7.32/slf4j-api-1.7.32.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>